In [1]:
# CELL (셀)
# 컨트롤 + 엔터를 입력하면 셀의 코드가 실행됨.

print('Hello World')

Hello World

In [2]:
# 주석 입력 방법
# 한 줄 주석은 문장 앞에 #

'''
여러 줄 주석은 이렇게 달 수도 있지만,
 매 줄마다 #을 붙이는 것이 일반적
'''

'\n여러 줄 주석은 이렇게 달 수도 있지만,\n 매 줄마다 #을 붙이는 것이 일반적\n'

In [3]:
# 변수 정의
# 변수의 데이터 타입을 명시하지 않음

a = 100
a = 3.14
a = '안녕 세계'

# 변수 삭제
# 가비지 컬렉터가 작동하므로 추천되지는 않음
# del a

In [4]:
# 각 셀이 독립된 환경이라고 보아서는 안됨.

print(a)

# 값이 잘 출력됨. 같은 파일의 코드를 부분별로 실행하는 것과 같음.

안녕 세계

In [5]:
# Built-in Data Type

## 1. Numeric (뉴메릭, 수)
## 2. Sequence (시퀀스)
## 3. Text Sequence
## 4. Mapping
## 5. Set
## 6. Bool

In [6]:
# 1. Numeric (뉴메릭, 수)
### 정수
a = 123

### 실수
b = 3.141592

### 복소수 (생략)
### N진수 (생략)

# [+] type 함수: 인자로 주어진 변수의 타입에 해당하는 클래스 반환
print(type(a))
# <class 'int'> / 내부에 int라는 클래스가 있으며 변수 a는 그 객체를 가리키고 있음.
# 파이썬의 모든 타입의 변수는 객체. 따로 Primitive 타입이 없음.

print(type(b)) # <class 'float'>

### 연산
result = 3 / 4
print(result) # 0.75
# 모든 프로그래밍 언어는 같은 데이터타입끼리만 연산 가능.
# 3 / 4의 경우 정수 값인 0이 반환될 것으로 기대할 수 있으나,
# 파이썬에서는 정수나 실수나 파생 클래스는 달라도 뉴메릭 타입이며, 뉴메릭 타입은
# 내부적으로 실수로 취급됨. 따라서 3.0 / 4.0과 같은 결과가 반환됨.

<class 'int'>
<class 'float'>
0.75

In [7]:
# 2. Sequence

### (1) list
#### 파이썬에서 가장 중요한 자료구조이자 데이터타입
#### 객체를 순서대로 저장하는 집합형 자료구조
#### Java의 ArrayList와 상당히 유사함
#### 리터럴 [] / 배열이 아니라 리스트임.
myList = list() # 클래스 생성자를 호출하여 만들기. 빈 리스트
myList = [1, 3.14, 100]
print(type(myList)) # <class 'list'>

#### 중첩 리스트로 가능
myList = [1, 2, 3, [3.14, 5.25, 100] , 4, 5]
# 이차원 배열과는 다름. 파이썬에서는 배열 개념이 없기 때문에,
# 이를 이차원 배열이라고 부르지 않고, 중첩 리스트라고만 부른다.

#### 리스트 기본 인덱싱
# 마치 배열처럼 인덱스로 요소에 접근 가능하다. (Indexing 가능)
print(myList[0])
print(myList[-1]) # 뒤에서부터 센다. 5
print(myList[-2]) # 4
print(myList[3][2]) # 중첩 리스트의 요소에 접근. 100

#### 리스트 슬라이싱
# 집합 자료구조에서 원하는 요소만 잘라오는 것
# 슬라이싱한 결과는 원본과 같은 데이터 타입을 가지게 됨
# 인덱싱은 다를 수 있음
print(myList[0:2]) # N:M N부터 M전까지. N은 포함되며 M은 불포함. [1, 2]

print(myList[1:]) # N: N부터 끝까지
print(myList[:3]) # :M 처음부터 M전까지
print(myList[:]) # 처음부터 끝까지. 리스트를 그대로 복사할 때 사용

<class 'list'>
1
5
4
100
[1, 2]
[2, 3, [3.14, 5.25, 100], 4, 5]
[1, 2, 3]
[1, 2, 3, [3.14, 5.25, 100], 4, 5]

In [8]:
##### 리스트의 연산
a = [1, 2, 3]
b = [4, 5, 6]
c = a + b # concatenating
print(c) # [1, 2, 3, 4, 5, 6]

# 기본 파이썬에서는 벡터 연산이 불가하다.
# [1+4, 2+5, 3+6]이 아닌 연결된 리스트가 반환된다.

c = a * 3 # plus 연산 반복. a + a + a와 같음 => 반복하여 연결
print(c) # [1, 2, 3, 1, 2, 3, 1, 2, 3]

#### 리스트의 내장 메서드
# 리스트는 객체이므로, 많은 내장 메서드가 있음.
a = [1, 2, 3]
a.append(4) # 4라는 요소를 추가
print(a) # [1, 2, 3, 4]

a.append([4, 5]) # 마지막 요소로 [4, 5]가 추가되는 것이므로, 중첩리스트가 됨
print(a) # [1, 2, 3, 4, [4, 5]]

[1, 2, 3, 4, 5, 6]
[1, 2, 3, 1, 2, 3, 1, 2, 3]
[1, 2, 3, 4]
[1, 2, 3, 4, [4, 5]]

2. Sequence - (2) tuple

튜플은 리스트와 가본적으로 동일하나, 리스트와 달리 read-only라는 차이가 있다.

리터럴: ( )

In [9]:
a = tuple() # 이렇게 빈 튜플을 만들수는 있지만, read-only이므로 이러한 표현이 일반적이지는 않음
a = (1, 2, 3, 4)
b = (1) # 튜플의 소괄호인지 우선순위 표시의 소괄호인지 모호하다. 전자라면 타입이 튜플이고, 후자라면 숫자이다.
c = (1, ) # 요소가 한 개인 튜플은 이렇게 표현한다.
print(type(a)) # <class 'tuple'>
print(type(b)) # <class 'int'>
print(type(c)) # <class 'tuple'>

# 튜플의 인덱싱과 슬라이싱
print(a[2]) # 3
print(a[2:3]) # (3, )

try:
  a[3] = 100 # TypeError: 'tuple' object does not support item assignment
except TypeError as e:
  print('튜플의 원소는 바꿀 수 없다.')
  print('Error:', e)

## 그러나 아래는 가능하다.
a = (1, 2, 3, [101, 102, 103], 5, 6)
a[3][1] = 222 # a[3]의 레퍼런스가 가리키는 리스트의 한 요소를 수정.
              # a[3]에 할당된 레퍼런스를 수정하려한 것은 아님.
print(a) # (1, 2, 3, [101, 222, 103], 5, 6)

# 튜플은 소괄호를 생략하여 쓸 수 있다
a = 1, 2, 3
print(a) # (1, 2, 3)

a, b, c = 1, 2, 3 # 우변의 튜플을 좌변의 튜플에 대입. 우변의 튜플의 원소 값이 분해되어 할당된다
print(a, b, c) # 1 2 3

<class 'tuple'>
<class 'int'>
<class 'tuple'>
3
(3,)
튜플의 원소는 바꿀 수 없다.
Error: 'tuple' object does not support item assignment
(1, 2, 3, [101, 222, 103], 5, 6)
(1, 2, 3)
1 2 3

In [48]:
# 튜플과 리스트는 상호간에 쉽게 변환할 수 있다.
a = (1, 2, 3)
b = list(a)
print(a, b) # (1, 2, 3) [1, 2, 3]

(1, 2, 3) [1, 2, 3]

2. Sequence - (3) range

리터럴로 쓰지 않는다. range라는 클래스를 이용하여 표현한다.

In [3]:
a = range(10) # 0부터 시작하여 10전까지, 1씩 증가하는 숫자 범위
print(a)
# range(0, 10)
# 객체 내에 실제 데이터를 가지고 있지 않음.
# 이 말은, 아주 큰 수까지의 범위를 지정해도 메모리 낭비가 생기지 않는다는 것.
b = range(0, 1000000000000)

a = range(2, 20, 2) # 시작, 끝(제외), 증가량
print(list(a)) # 2부터 2씩 증가하되, 20보다 작은 숫자 범위
print(a[4]) ## 10. 인덱싱이 가능. 마찬가지로 for문을 이용한 iteration도 가능.

range(0, 10)
[2, 4, 6, 8, 10, 12, 14, 16, 18]
10

3. Text Sequence

문자열.

클래스: str

리터럴: '' 혹은 "" - 둘 다 사용 가능 (default는 '')

문자(char) 개념이 없음. 한 글자라도 길이가 1인 문자열일뿐임.

In [15]:
a = '이것은 소리 없는 아우성!'
print(type(a)) # <class 'str'>

# 실제로 내부적으로는 리스트를 기반으로 구현되어 있음.
b1 = '홍'
b2 = '길동'
print(b1 + b2) # 홍길동. concatenated same as a list

print(a[0]) # 인덱싱 가능. 이
print(a[0:3]) # 슬라이싱 가능. 이것은

# 문자열만의 독특한 연산자
print('소리' in a) # 서브스트링 포함 여부 검사. 파이썬은 Bool 값이 True, False

# str 클래스의 내장 메서드
print('이것은 {} 없는 {}'.format('소리', '아우성')) # 이것은 소리 없는 아우성
                                              # 중간에 편하게 문자열을 삽입할 수 있음.

<class 'str'>
홍길동
이
이것은
True
이것은 소리 없는 아우성

4. Mapping

키-밸류 쌍의로 데이터를 나타내는 자료구조

리터럴을 보면 JSON이랑 거의 똑같이 생겼음.

파이썬에서는 이러한 자료 구조를 Dictionary라고 부름.

- 클래스:dict

- 리터럴: { }

In [22]:
a = { # JSON과 유사하지만 JSON은 아님. JSON은 중간에 주석 불가하며, 문자열은 "". 그저 문자열일 뿐임. 
    'name': '홍길동',
     'age': 20
}

print(type(a)) # <class 'dict'>

# 자바와 달리 파이썬의 딕셔너리에는 동적으로 데이터를 추가할 수 있음.
# 자바스크립트와 유사.
a['주소'] = '서울' # 특정 키에 해당하는 데이터를 수정하거나, 없으면 새롭게 만듦.
print(a) # {'name': '홍길동', 'age': 20, '주소': '서울'}

# 내장 메서드
print(a.keys()) # dict_keys(['name', 'age', '주소'])
                # 딕셔너리 내 키만 추출하여 리스트로 반환!하는 것처럼 보임.
                # 정확히 말하면 리스트가 아니라, dict_keys라는 별도 자료구조.
                # 그러나 사용할 때에는 리스트라고 생각하고 사용해도 큰 문제 없음.
                # 그러나 리스트의 내장 메서드를 모두 사용할 수는 없음.
                # 보통 딕셔너리에 대해 for 문을 이용할 때 사용.

## for in 구문
#### for ~ in <리스트 혹은 튜플, 리스트와 유사한 자료구조>
for key in a.keys():
  print(key) # 들여쓰기 중요 (기본 4칸)

<class 'dict'>
{'name': '홍길동', 'age': 20, '주소': '서울'}
dict_keys(['name', 'age', '주소'])
name
age
주소